body {
  background: #F8F9FA;
}

.blog-slider {
  margin: 0 auto;
  height: 600px;
  background-image: url("../images/header.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-slider, header {
  width: 100%;
}

header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-content-wrapper {
  margin: 0 auto;
  padding-top: 33px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

nav, .social, .search {
  display: inline-flex;
}

ul li {
  display: inline-flex;
}

.logo {
  position: relative;
  color: #F8F9FA;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navigations {
  display: flex;
  align-items: center;
}

.social {
  width: 172px;
}

.nav-content {
  width: 244px;
  height: 14px;
}

.nav-content ul, .social ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-content a {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social, .search {
  height: 20px;
}

.social-item img, .search-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  width: 0.5px;
  height: 20px;
  background: #E5E5E5;
  margin: 0 17px;
}

.nav-content a::before, .social a::before, .search a::before {
  display: block;
  position: relative;
  top: 20px;
  content: "";
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #D4A373;
  opacity: 0;
}

.nav-content a:hover::before, .social a:hover::before, .search a:hover::before {
  opacity: 1;
}

.blog-slider-content {
  margin: 0 auto;
  width: 1300px;
}

.category {
  margin-top: 198px;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}

.category-text {
  color: #FFF;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-title {
  margin-top: 15px;
  width: 530px;
}

.blog-title h1 {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-date-wrapper {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
}

.blog-date span {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog-line {
  margin: 0 10px 0 11px;
  width: 30px;
  height: 1px;
  background: #E5E5E5;
}

.blog-description {
  display: inline-flex;
  width: 420px;
}

.blog-description span {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.blog-cards-container {
  margin: 150px auto 0;
  width: 1300px;
}

.popular-topics {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter {
  margin-top: 30px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.filter a {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.filter a[class=current] {
  color: #D4A373;
}

.filter ul a {
  margin-right: 20px;
}

.blog-cards {
  margin-top: 30px;
}

.card {
  width: 310px;
  height: 565px;
  border-radius: 5px;
  background: #FFF;
}

.image-container {
  position: relative;
}

.image-container img {
  border-radius: 5px;
}

.card-categories {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-category {
  margin-left: 20px;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}

.card-category-text {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-date {
  margin-left: 20px;
  margin-top: 20px;
  color: #6C757D;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title-container, .card-description {
  width: 270px;
  margin: 0 auto;
}

.card-title-container {
  margin-top: 15px;
  margin-left: 20px;
}

.card-description {
  margin-top: 15px;
}

.card-title {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.card-description p {
  color: #6C757D;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-line {
  display: block;
  margin: 20px auto 0;
  width: 270px;
  height: 0.5px;
  background: #E5E5E5;
}

.card-owner {
  width: 270px;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
}

.card-owner-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.card-owner-name-container {
  margin-left: 17px;
  width: 203px;
}

.card-owner-name {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.second-name {
  color: #343A40;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.span-owner-description {
  color: #6C757D;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.big-post {
  background: url("../images/big_post.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 100px 0 0;
}

.big-post-back-layer {
  background: rgba(52, 58, 64, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.big-post-content {
  width: 530px;
  height: 245px;
}

.big-post-title-container {
  margin-top: 24px;
}

.big-post-title-container h2 {
  color: #FFF;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.big-post-title-description {
  margin: 13px auto 0;
  width: 420px;
}

.big-post-title-description p {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.big-post-line {
  margin-top: 24px;
  display: inline-flex;
  width: 30px;
  height: 1px;
  background: #E5E5E5;
}

.big-post-date {
  margin-top: 15px;
}

.big-post-category-text {
  margin: 0;
}

.blog-metro-title-container h2 {
  color: #495057;
  font-family: "Lora", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-metro {
  width: 1300px;
  margin: 150px auto 0;
}

.blog-metro-row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.blog-metro-card {
  width: 420px;
  height: 350px;
}

.blog-metro-main-container {
  position: absolute;
  top: 153px;
  left: 40px;
}

.blog-metro-card-date {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog-metro-card-title-container {
  width: 270px;
  margin-top: 15px;
}

.blog-metro-card-title {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.blog-metro-card-description {
  width: 340px;
  margin-top: 15px;
}

.blog-metro-card-description-text {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

footer {
  margin-top: 150px;
  padding: 0 208px 0 70px;
  height: 400px;
  background: #212529;
  display: flex;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.f-section-title h3 {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.f-section-title {
  margin-bottom: 16px;
}

.f-links li {
  display: flex;
  margin-bottom: 18px;
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f-links a {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f-social ul {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.subfooter {
  height: 100px;
  padding: 0 70px 0;
  background: #343A40;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-f-text {
  color: #E5E5E5;
  font-family: "Lora", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*# sourceMappingURL=styles.css.map */
